Django==6.0.5
django-crispy-forms==2.1
crispy-bootstrap5==2.0.2
Pillow==10.2.0
python-dateutil==2.8.2
reportlab==4.0.9
openpyxl==3.1.2
celery==5.3.4
redis==5.0.1
gunicorn==21.2.0
python-dotenv==1.0.0
pandas==2.0.3
